*{
  font-family: verdana;
  margin: 0;
}
body {
  background: #eee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.flex-container{
  display: flex;
  background-color: #eee;
}
.box{
  height: 100px;
  min-width: 100px;
}
.one {
  background: red;
}
.two{
  background: blue;
}
.three{
  background: green;
}
