/*************************************************************
                         Global
*************************************************************/
* {
  box-sizing:border-box;
}
html, body {
  height: 100%;
}
body {
  margin:0;
  background-color: #fff;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.4;
}
.container{
  width: 1140px;
  margin: 0 auto;
}
/******************************************************
                      HEADER
******************************************************/
.main-header {
  display: flex;
  justify-content:space-between;
}
nav ul {
  display: flex;
  list-style: none;
}
.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}
nav li {
  /* flex: 1 1 0;*/
  justify-content: flex-end;
}
nav a{
  text-decoration: none;
  text-align: center;
  padding: 10px;
  color: #8E8E8E;
}
nav a:hover {
  color: #6495ED;
}
.logo-menu nav a{
  text-transform: uppercase;
  font-size: 13px;
}
.main-nav a {
  color: #0061c2;
}
.main-nav li:hover{
  background-color: #FFF;
}
.main-nav {
  background-color: rgb(250, 252, 255);
}

/******************************************************
                    Main
******************************************************/
.first-coverpic {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.first-t{
  display: block;
  margin: 40px;
  color: #fff;
}
.table-contest {
 display: flex;
 text-align: center;
 flex-direction: row;
 padding-bottom: 40px;
 flex-wrap:wrap;
 width: 960px;
 margin: 0 auto;
 justify-content: space-around;
}
.departures{
  display:flex;
  text-align: center;
  flex-direction: row;
  justify-content:space-around;
}
.departures li{
  list-style: none;
  padding: 10px;
}
.flights-check{
  display:flex;
  flex-direction: column;
  margin: 30px;
  background-color: rgba(16,33,58,.5);
  flex-basis: 362px;
}
.flight-today{
  display:flex;
  flex-direction: column;
  margin: 30px;
  background-color: rgba(16,33,58,.5);
}
.flights-check ul{
  display:flex;
  flex-direction: row;
}
.flights-check li{
  list-style: none;
  padding: 10px;
}
.flight-tables{
  display:flex;
  flex-direction: column;
  background-color: #fff;
  padding: 15px;
}
.tab {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.tab p {
  margin: 10px;
  color: #8E8E8E;
}
.tab h5 {
  color:#0061c2;
  font-size: 15px;
}
.in-put {
  background-color: #fff;
  padding: 15px;
}
.first-table-part {
  color: #fff
}
.in-form {
display: flex;
flex-direction:column;
text-align: left;
}
.in-form input{
padding: 12px;
margin-bottom: 8px;
}
.form-button {
  background-color:#0061c2;
  padding: 10px;
  color: #fff;
  margin:18px;
}
.in-form label{
  color: #8E8E8E;
  font-size: 13px;
  font-weight: bold;
}
/******************************************************
           drugi deo
******************************************************/
.parking-lot {
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin: 20px;
}
.sing-n {
  display: flex;
  flex-direction: row;
  justify-content:center;
  text-align: center;
  padding: 15px 23px;
  margin: 12px;
  box-shadow:0 0 0.75rem 0 #e2e2e2;
}
.sing-n p {
margin-right: 20px
}
.sing-n span{
  color: #0061c2;
  color: #0061c2;
  font-size: 2rem;
  vertical-align: middle;
  padding: 0 1.2rem 0 .3rem;
}
.sing-p p{
  margin-top: 16px;
}
.sing-p {
  display: flex;
  justify-content:center;
  text-align: center;
  padding: 15px 23px;
  margin: 12px;
  box-shadow:0 0 0.75rem 0 #e2e2e2;
}
.sing-p img {
  margin-right: 10px;
  vertical-align: middle;
}
.baner-1{
  background-color: #FAFAFA;
  display: flex;
  justify-content:center;
  text-align: center;
  padding: 32px;
}
.you-need{
  /* background-color: #FCFCFC; */
  background-color: #eee;
}
  .third-sec-holder {
    justify-content:center;
    text-align: center;
    padding: 32px;
  }
  .third-sec-holder  h2{
    color: #004990;
    font-size: 40px;
  }
  .box-holder {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  .box{
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 1.6875rem rgba(0,0,0,.1);
    background-color: #fff;
    justify-content: space-between;
    flex: 1;
    margin: 20px;
  }
  .box a {
    text-decoration: none;
    color: #000;
    font-weight:bold;
    font-size: 15px;
  }
  .box a:hover{
    color:#004990;
    line-height: 1;
  }
  .box-s{
  text-align: left;
  padding-left: 10px;
  flex-direction: column;
  }
  .box-s h3 {
    color: #004990;
  }
/******************************************************
          treci deo
*******************************************************/
.ban-part {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.kol{
  flex:1;
  flex-wrap: wrap;
  text-align: center;
}
.services, .shopping{
  display: flex;
  flex-direction: row;
}
.services-text{
  padding-left: 50px;
}
.ser{
flex: 0 1 50%
}
/**********************************************
                footer
**********************************************/
.logos2 {
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid #F5F7F7;
}
.footer2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.fot{
flex: 0 1 25%
}
.main-foot{
  width: 1140px;
  margin: 0 auto;
}
.foot2-4 a{
  color: #a1a7ac;
  text-decoration: none;
  list-style: none;
  font-size: 13px;
}
.foot2-3  a{
  color: #a1a7ac;
  text-decoration: none;
  list-style: none;
  font-size: 13px;
}
.foot2-4 li{
  list-style: none;
}
.foot2-3 li{
  list-style:none;
}
.foot2-2{
  color: #0061c2;
  font-size: 13px;
}
